<h4><%= File.expand_path(__FILE__) %></h4>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>Edit portfolio</legend>
    </div>
  </div>

<%= render 'form', portfolio: @portfolio %> 

<br>
<%= link_to 'Back' , portfolios_path,  :class => "btn btn-info", :role => "button" %>

</div>



