<div class="sidebar-nav">
  <div class="well" style="width:300px; padding: 8px 0;">
    <ul class="nav nav-list"> 
      <li class="nav-header"> >>> </li>        

      <li><%= link_to 'Portfolios', portfolios_path %></li>
      <li><%= link_to 'Reports', reports_path %></li>
      <li><%= link_to 'Download', reports_index_download_path %></li>

    </ul>
  </div>
</div>


