<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>Download logs</legend>
    </div>
  </div>


<pre>
<%= @fws.logs.join("\n") %>
</pre>


<br>

<p><%= link_to 'Back' , reports_index_download_path, :class => "btn btn-info", :role => "button" %></p>




</div>
